################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AI-Assistant/04/out.txt
/AI-Assistant/04/input.txt
/AI-Assistant/04/output.html
/AI-Assistant/04/output.docx
/AI-Assistant/04/Proposal/input.txt
/AI-Assistant/04/tool/input.txt
/AI-Assistant/04/tool/output.html
